
  .Watch-content {
    background-color: white;
    padding: 20px;
    margin-left: 350px;
    margin-right: 170px;
    margin-top: 60px;
    flex: 1;
    overflow: auto;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .post {
    background: #f0f2f5;
    padding: 20px;
    border-radius: 10px;
  }
  
  